.commerce{
    background-color: #535253;
    display: flex;
    align-items: center;
    padding: 2vh 3vw;
    flex-wrap: wrap;
}

.com-img{
    height: 5vh;
    margin-right: 3vh
}

.com-text{
    color: white;
    font-weight: 300;
    font-size: 3vh;
}

.footer{
    display: flex;
    justify-content: space-between;
    background-color: #424242;
    color: white;
    padding: 8vh 4vw;
    align-items: center;
}

.f-body{
    width: 23vw;
}

.b-title{
    font-size: 3vh;
    font-weight: 400;
}

.b-text{
    font-size: 2vh;
}

.f-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.n-links{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.n-link{
    text-decoration: none;
    color: white;
    margin: 0px 7.5px;
    font-size: 2vh;
    border-right: 2px solid #aa9b77;
    padding-right: 15px;
    transition: 0.2s ease all;
}

.n-link:hover{
    color: lightgrey;
}

.end{
    border: none;
}

@media screen and (max-width: 480px) {
    .footer{
        display: block;
    }
    .f-body{
        width: 80vw;
        margin-bottom: 15px;
    }
    .b-title{
        font-size: 2vh;
    }
    .b-text{
        font-size: 1.5vh;
    }
    
}

@media screen and (max-width: 380px){
    .n-link{
        border: none;
        margin: none;
        margin-bottom: 15px;
        text-decoration: underline;
    }
}